
.car-model-pc {
	position: fixed;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.4);
	z-index: 99999999999;
}
.jp-carTypeSE {
    position: absolute;
    padding: 5px 0;
    top: 50%;
   	left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 814px;
    height: 496px;
    font-size: 14px;
    background-color: #fff;
    box-shadow: 0 0 0 10px rgba(3,3,3,.2);
}

.jp-pan {
    display: none;
    border-top: 1px solid #e6e6e6;
}

.jp-pan.on {
    display: block;
}

.jp-carTypeSE ul {
    list-style: none;
}

.jp-carTypeSE ul li {
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
}

.jp-header-lv1 {
	height:auto;
}
.jp-header-lv1 ul{
	margin-bottom: 0px;
}

#closeModel {
	position: absolute;
    right: 5px;
    top: 10px;
    background-color: #ccc;
    border-radius: 50%;
    border: 2px solid #ccc;
    color: #fff;
}

.jp-header-lv1 ul li {
    padding: 8px 30px;
    margin-left: 8px;
}

.jp-header-lv1>ul li.on {
    position: relative;
    border-top: 3px solid #be1522;
    color: #be1522;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.jp-header-lv1>ul li.on:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    z-index: 100;
}

.jp-header-lv2 {
    padding-left: 15px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e6e6e6;
}

.jp-header-lv2 li {
    position: relative;
    padding: 0 32px;
    width: 120px;
    color: #999;
    text-align: center;
}

.jp-header-lv2 li.on {
    color: #be1522;
}

.jp-step {
    position: absolute;
    left: 0px;
    top: 15px;
    background-color: #999;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    border-radius: 50%;
}

.jp-header-lv2 li.on .jp-step {
    background-color: #be1522;
}

.jp-header-lv3 {
    font-size: 12px;
    padding: 0 16px;
    height: 42px;
    line-height: 42px;
}


.jp-header-lv3 li {
    text-align: center;
    margin-left: 4px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: #be1522;
    border: 1px solid #be1522;
}

.jp-header-lv3 li:nth-child(2) {
	width: 40px;
}

.jp-header-lv3 li.on{
	background-color: #be1522;
	color: #fff;
}

.jp-hotBtn {
	position:relative;
    width: 80px;
    height: 25px;
    line-height: 25px;
    background-color: #be1522;
    color: #fff;
    border: 0;
    margin: 0 5px 0 5px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.jp-hotBtn:after{
	position: absolute;
	top: 0px;
	right:3px;
	content: 'X';
	color: #fff;
}

.jp-content {
    padding: 15px;
    width: 100%;
    height: 360px;
    overflow-y: auto;
    text-align: center;
    color: #3d3d3b;
    border-top: 1px solid #e6e6e6;
}

.jp-brandItem {
    width: 128px;
    height: 86px;
    font-size: 12px;
    background-color: #e9e9e9;
    float: left;
    margin: 0 22px 22px 0;
}

.jp-brandItem.on,
.jp-brandText.on {
    background-color: #fff;
    border: 2px solid #be1522;
}

.jp-brandItem img {
    margin-top: 10px;
    width: 40px;
    height: 40px;
}

.jp-brandItem p {
    margin-top: 8px;
}

.jp-brandText {
    height: auto;
    line-height: 32px;
    background-color: #e9e9e9;
    width: 222px;
    border: 1px solid #e9e9e9;
    float: left;
    margin: 0 18px 18px 0;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.jp-brandText.wid370{
	width: 370px;
}

.jp-brandText.wid4{
	width:170px;
	cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.jp-brandText:hover {
    color: #be1522;
    border: 1px solid #be1522;
    background-color: #fff;
}

.VIN-SE {
    margin: 22px;
}

.VIN-SE input {
    border: #BE1522 solid 3px;
    width: 495px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    float: left;
    outline: none;
}

.VIN-SE button {
    border: none;
    background-color: #be1522;
    color: #fff;
    width: 90px;
    height: 34px;
    padding: 6px 12px;
}

.jp-endTitle {
    height: 236px;
    line-height: 236px;
    font-size: 24px;
    color: #78a804;
    margin: 0 -15px;
    border-bottom: 1px solid #e6e6e6;
}

.jp-endText {
    margin-top: 24px;
    color: #999;
}

.jp-content dl {
    text-align: left;
    margin-bottom: 29px;
    clear: both;
    zoom: 1;
}

.jp-content dl dt {
    margin-bottom: 14px;
    font-size: 14px;
}

.jp-content dl dd.jp-brandText {
    text-align: center;
    width: 170px;
}