@charset "utf-8";


@media (min-width: 768px){ 
	html{
		font-size:18px;
	}
 }
@media (min-width: 992px){ 
	html{
		font-size:22px;
	}
 }
@media (min-width: 1200px){ 
	html{
		font-size:24px;
	}
 }
ul{list-style: none;margin: 0;padding: 0;}
.p-user-header{/* width:100vw; */background-color:#be1522;margin: -30px -15px 15px -15px;}
.p-list-body{/* padding:.5rem; */}
/* credit-content */
.p-user-content{font-size:1.2rem;color:#FFF;width: 100%;height:49.5%;padding:1.2rem;font-weight: bold;}
.p-credit-content{position:relative;padding:.5rem;text-align:center;}
.table-mobile{width: 100%;margin:0 auto;color:#be1522;}
.p-credit-content table th{text-align: center;width:27.5%;}
.p-credit-content .p-table-type{color:#FFF;font-size: 1.4rem;line-height:2rem;margin-bottom:3rem;padding:0;}
.p-credit-content .p-table-type>li{margin-left: 1rem;float: left;}
.p-table-type .on{border-bottom:1px solid #FFF;}
.p-table-type .on .p-log{display:block;}
.p-credit-content table .p-table-title{background-color: #FFF;font-size:1.2rem;}
.p-table-title th{padding:.2rem .8rem;border-right:1px solid #FF3C51;}
.p-credit-content table tr td{color:#000;background-color:#FFF;border:1px solid #6D6969;padding:.4rem;}

.p-log{display: none;}
.p-log  ul{position:absolute;border:1px solid #FF3C51;width:12rem;text-align:left;background-color:#FFF;color:#000;padding:0;margin-top:.2rem;margin-left:-6rem;font-size:1rem;}
.p-log ul li{padding:0 .2rem;}
/* credit-content/end */

/* list-body */
.p-list-body .p-list-header{font-size:1.8rem;color:#000;font-weight:bold;}
.p-list-boxs{width:100%;background-color:#FFF;}
.p-list-box{position:relative;height:8rem;background-color:#F0EFED;margin:.8rem 0;box-sizing: border-box;}
.p-list-box>div{float:left;height:100%;width:33.33%;overflow:hidden;}
.p-list-box .p-left{}
.p-list-box .p-left img{width:100%;height:100%;}
.p-list-box .p-content{position:relative;font-size:1.4rem;color:#000;}
.p-list-box .p-content>.p-name{height:6rem;text-overflow:ellipsis;font-size: 1rem;}
.p-list-box .p-content>.p-value-bottom{position: absolute;bottom:0;left:.4rem;}
.p-list-box .p-right{padding:2rem 0;background-color:#be1522;overflow: hidden;text-align: center;position:relative;}
.p-list-box .p-right-border{background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) .4rem, #be1522 .4rem);background-size: 1.5rem 1.5rem;background-position: .9rem .3rem;z-index: 2;}
.p-right:before {background-color:#be1522;}
.p-right-border:before {position: absolute;content: '';top: 0;bottom: 0;left: 1rem;right: -2rem;z-index: -1;}
.p-right-border>.p-active{font-size:2.0rem;color:#FFF;border-bottom:1px solid #FFF;}
.p-right-border>.p-number{font-size:1.4rem;}
/* list-body/end */

.p-dotted{margin: 0;padding: 0;border-top:1px solid #000;transform: scaleY(.1);}



/* index-2*/
 header{z-index:12;}
 .p-height-hide{height: 0 !important;}
 #cover_main{display:none;top:0;left:0;width:100vw;height:100vh;position:absolute;z-index:10;background-color:#000;opacity:.8;}
.p-group-main{width:100%;position:relative;z-index:11;}
.group{width:100%;height: 3rem;background-color:#be1522;left:0;top:0;line-height:3rem;position:relative;}
.group>ul{padding:0;margin:0;height:100%;}
.group>ul>li{color:#FFF;width:33.33%;font-size:1.4rem;text-align:center;border-right:1px solid;float:left;}
.group .p-group-boxs{background-color:#fafafa;width:100%;max-height:25rem;transition:all .2s;overflow:hidden;height:25rem;}
.p-group-box{display:none;position:relative;}
.p-group-box ul{color:#000;line-height: 4rem;height:100%;}
.p-group-box ul .on{border-right:none;background-color:rgba(255, 255, 255, 0.8);color:rgb(72, 210, 89);}
.p-group-box ul li{color:#000;text-align:center;border:1px solid #eee;font-size:1.2rem;border-top:none;font-weight:bold;}
.p-group-box .p-box-1-left,.p-box-1-right{height:25rem;width: 33.33%;float:left;overflow:scroll;}
.p-group-box .p-box-1-right{width:66%;background-color:rgba(255, 255, 255, 0.8);}
.p-group-box .p-box-1-right>ul{display: none;}
.p-group-box .p-box-1-right>ul li{border-left:none;}
 #p-group-box-2>ul{width:100%;}
 
 /*integral mall list*/
 .glyphicon-color{color: #be1522;}
 .hov{cursor: pointer;}
 ul{list-style:none}
.memuLeft{padding:15px 0;background-color:#ececec}
.memuLeft>nav ul{list-style:none}
.memuLeft>nav ul li{position:relative;padding:4px;width:80%;}
.memuLeft>nav ul li:after{position:absolute;top:0;right:9pt;color:#e8a7a7;content:">";font-weight:700;font-size:1pc}
.memuLeft>nav ul li:hover{cursor:pointer;border-bottom:1px solid #F00;color:#F00;}
.crdeit-font-type{position:relative;padding-left:15px;width:65%;height:35px;background-color:#be1522;line-height:35px}
.crdeit-font-type:before{position:absolute;top:0;right:-35px;border-right:0 solid transparent;border-bottom:35px solid #be1522;border-left:35px solid transparent;content:'';-webkit-transform:rotateZ(180deg);transform:rotateZ(180deg);-ms-transform:rotateZ(180deg)}
.crdeit-font-type:after{position:absolute;top:0;right:-35px;display:block;width:10px;height:35px;background-color:#be1522;content:'';-webkit-transform:skewX(-45deg);transform:skewX(-45deg);-ms-transform:skewX(-45deg)}
.font-show-all{width:100%;height:45px;background-color:#f7d2d2}
.font-show-all h4{margin-left:35px;line-height:45px}
.jtou{margin-left:4px;color:red;font-weight:700;font-size:20px}
.content-url{padding:10px 5px}
.my-crdeit{margin-left:24px;font-weight:700;font-size:24px}
.table{margin-bottom:0}
.diy>tbody>tr:first-child{background-color:#f7d2d2}
.diy>tbody>tr>th{padding:4px;vertical-align:middle}
.bottomBox{text-align:center;margin-bottom: 10px;}
.bottomBox ul{margin-top:0;padding:0;background-color:#ececec}
.bottomBox ul .p-img{width:100%;height:200px;}
.bottomBox ul .p-img img{width:100%;height:85%;}
.bottomBox ul .p-money{color:#d52632;font-size:34px}
.bottomBox ul li button{padding:4px 20px;width:80%;border:none;background-color:#e66467;box-shadow:2px 2px 2px #3e3c3c;color:#fff}