@CHARSET "UTF-8";
.orderDetailPage{ font-size:12px; width:730px; margin:0 auto; font-family:"simsun"}
	a{
		text-decoration: none;
	}
	.row-head{
		margin-bottom: 10px;
		line-height: 25px;
		padding:0;
	}
	.row-head .row-line{
		display:block;
		width: 100%;
		margin-bottom: 10px;
	}
	.row-head .special{
		line-height:20px;
		font-size: 14px;
	}
	.row-head ul li{
		list-style: none;
	}
	.row-head ul{
		padding: 5px 10px;
	}
	.row-head .orderInfo{
		padding:0;
	}
	.row-head .orderInfo ul {
		margin-top: 5px;
	}
	.row-head .orderInfo dd{
		margin-top: 5px;
	}
	.row-head .orderInfo dt{
		font-weight: bold;
	}
	.row-head .shopping-list tr td,th {
		border: 1px solid #e1e1e1;
		
	}
	.row-head .shopping-list{
		border-collapse: collapse;
		border-spacing: 0;
		margin-top: 20px; text-align:center;
	}
	.row-head .shopping-list tr td{ padding:4px ;}
	.row-head .shopping-list tr td.proName{ text-align:left;}
	.row-head .shopping-list tr td.proName span{ display:inline-block; max-width:260px}
	.row-head .totalPrice{
		margin-bottom: 50px;
	}
	.row-head .extra {
		margin-top: 20px;
		text-align: right;
	
	}
	.row-head .orderInfo ul li{
		float: left;
	}
	.row-head .orderInfo ul li:nth-child(odd){
		
		width: 50%;
	}
	.row-head .orderInfo ul li:nth-child(even){
		
		width: 50%;
	}

	.row-head .magrinLeft10{
		margin-left: 10px;
	}
	.row-head .buttom-sig{
		margin-top:50px;
	}
	.row-head .buttom-sig table tr   {
  		border: none;
	}
